.nav a {
    color: black;
}
.navbar-header > a{
    font-size: 25px;
    font-weight: bolder;
}
.nav button{
    margin-top: 8px;
    border-radius: 20px;
}
.mar20{
    margin-top: 20px;
    margin-bottom: 20px;
}

