
.nav a {
	color: black;
}
.navbar-header > a{
	font-size: 25px;
	font-weight: bolder;
}
.nav button{
	margin-top: 8px;
	border-radius: 20px;
}
.mar20{
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.bg-banner {
	background-image: linear-gradient(to bottom right, blue, orange);
	height: 100vh;
	position: relative;
	z-index: -2;
}

.bg-banner::after {
	content: 'PORTFOLIO';
	display: inline-block;
	color: black;
	opacity: 0.1;
	font-weight: 700;
	position: absolute;
	top: 20%;
	left: 0;
	font-size: 29rem;
	z-index: -1;
}
.m-top {
	margin-top: 30vh;
}

#banner p {
	font-size: 1.5em;
}

#banner h1 {
	font-size: 5em;
	font-weight: bolder;
}

.wrap {
	padding-top: 3%;
	padding-bottom: 3%;
}

.white-text {
	color: white;
}

#section-one p {
	color: gray;
}

.gray-text {
	color: gray;
}

#section-three i {
	color: red;
	margin-top: 5%;
}



#section-three hr {
	border: 1px solid red;
	width: 40px;
}

.bg-card p {
	margin-bottom: 5%;
}


.bg-card:hover {
	background-image: linear-gradient(to bottom right, blue, orange);
	border-radius: 10px;
}

.bg-card:hover hr {
	border-color: white !important;
}

.bg-card:hover i,
.bg-card:hover h3,
.bg-card:hover p {
	color: white !important;
}

.bg-lightgray {
	background-color: lightgray;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
.carousel-control,
.carousel-control:hover {
	color: black;
}
